header {
    background-color: #666;
}

#p_titleMenu {
    display: inline;
    vertical-align: top;
}

#logoMenu {
    display: inline;
}

#img_logoMenu {
    height: 5%;
    display: inline;
}

nav {
    vertical-align: top;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}