header {
    background-color: #BBBBBB;
    padding: 20px;
}

.div_menu-box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#p_title-menu {
    display: inline;
    vertical-align: top;
    position: relative;
    top: 110px;
}

#logo-menu {
    display: inline;
}

#img_logo-menu {
    height: 5%;
    display: inline;
}

nav {
    vertical-align: top;
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#img_banner {
    width: 100%;
}

#title_main {
    text-align: left;
    padding-left: 20px;
}

.title_center {
    text-align: center;
}

p {
    text-align: left;
}

#ul_beneficios {
    width: 20%;
    margin-right: 15%;
    display: inline-block;
    vertical-align: top;
}

#cont_missao {
    font-size: 14px;
}

em strong {
    color: white;
}

.div_principal {
    background: #666666;
    padding: 30px;
}

.div_beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.ul_itens {
    font-style: italic;
}

.img_beneficios {
    width: 20%;
}