#img_banner {
    width: 100%;
}

#title_main {
    text-align: left;
    padding-left: 20px;
}

.title_center {
    text-align: center;
}

p {
    text-align: left;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#cont_missao {
    font-size: 14px;
}

em strong {
    color: white;
}

.div_principal {
    background: #666666;
    padding: 30px;
}

.div_beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.ul_itens {
    font-style: italic;
}

.img_beneficios {
    width: 50%;
}