.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;

  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;

  :nth-child(n + 2) {
    display: none;
  }

  &__ul {
    a:visited {
      text-decoration: none;
    }

    .footer__title {
      color: black;
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;

      &:visited, &:focus {
        text-decoration: none;
      }
    }    
  }

  @media screen and (min-width: 480px) {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: 300;

    :nth-child(n) {
      display: initial;
    }

    li h4 {
      line-height: 300%;
      text-transform: uppercase;
    }

    .footer__ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      padding: 0 0.5rem;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }

      h3 {
        color: $color-grey-dark;
        text-transform: uppercase;

      }

      a {
        color: $color-grey-dark;
        text-decoration: none;
      }

    }
  }

  @media screen and (min-width: 1280px) {
    .footer__ul:nth-child(n+2) {
      border-left: 1px solid $color-grey-dark;
    }
  }
}
