@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import "variables";

html {
  font-family: $font-poppins;
}

body {
  background-color: $color-grey-light;
}

.hidden {
  display: none;
}

.show-sub-menu {
  display: unset;
}

.sub-title {
  color: $color-yellow-dark;
}
