//fonts
$font-main: "Poppins", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-size-title: 4rem;

//colors
$color-blue-dark: #002f52;
$color-blue-medium: #326589;
$color-grey-light: #ebecee;
$color-grey-medium: #c4c4c4;
$color-grey-dark: #858585;
$color-yellow-dark: #eb9b00;
$color-white-pure: #ffffff;

$color-gradient-blue: linear-gradient(
  97.54deg,
  #002f52 35.49%,
  #326589 165.37%
);

//transitions
$transition-menu-duration: 200ms;
