//fonts
$font-poppins: "Poppins", sans-serif;
$font-size-title: 4rem;

//colors
$color-blue-dark: #002f52;
$color-blue-medium: #326589;
$color-grey-light: #ebecee;
$color-grey-medium: #c4c4c4;
$color-yellow-dark: #eb9b00;
$color-white-pure: #ffffff;

//transitions
$transition-menu-duration: 200ms;
