@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ebecee;
}

.hidden {
  display: none;
}

.show-sub-menu {
  display: unset;
}

.sub-title {
  color: #eb9b00;
}

.logo__link {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.logo__link strong {
  font-weight: 700;
}

.header__sect {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.header__sect .logo__link span,
.header__sect .menu span,
.header__sect .panel span {
  display: none;
}
.header__sect .logo__link {
  margin-left: 1rem;
  margin-right: auto;
}
.header__sect .menu__nav {
  order: -1;
  padding-left: 0;
}
.header__sect .menu__nav .menu__ul .menu__li {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__sect {
    padding: 1rem 4rem;
  }
  .header__sect .logo__link span,
.header__sect .menu span,
.header__sect .sub-menu__ul {
    display: unset;
  }
  .header__sect .logo__link span .hidden,
.header__sect .menu span .hidden,
.header__sect .sub-menu__ul .hidden {
    display: none;
  }
  .header__sect .logo__link {
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-right: unset;
    margin: 0 1rem;
  }
  .header__sect .logo__link span {
    display: flex;
    align-items: flex-end;
  }
  .header__sect .logo__link:visited {
    color: unset;
  }
  .header__sect .menu__nav {
    order: unset;
    margin-right: auto;
  }
  .header__sect .menu__nav .menu__ul .menu__li {
    display: unset;
  }
  .header__sect .hidden {
    display: none;
  }
  .header__sect .sub-menu__ul {
    list-style-type: none;
    padding-left: 0;
  }
  .header__sect .sub-menu__ul:hover, .header__sect .sub-menu__ul:active, .header__sect .sub-menu__ul:focus {
    display: unset;
  }
}
@media screen and (min-width: 1200px) {
  .header__sect .panel a span {
    display: unset;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-left: 0;
}
.menu::before {
  content: url("../img/Menu.svg");
}
.menu__li {
  list-style-type: none;
  padding: 1rem 1rem;
  cursor: pointer;
}
.menu__li:hover, .menu__li:active, .menu__li:focus {
  background-image: linear-gradient(to right, #002f52, #326589);
  color: #ffffff;
}
.menu .categories span {
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .menu {
    order: unset;
  }
  .menu::before {
    display: none;
  }
}

.menu__nav {
  position: relative;
}
.menu__nav .sub-menu {
  background-color: #ffffff;
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
}
.menu__nav .sub-menu .sub-title {
  padding: 0.5rem;
}
.menu__nav .sub-menu .sub-item {
  color: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  text-transform: uppercase;
  padding: 1rem;
}
.menu__nav .sub-menu .sub-item:hover {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  color: #ffffff;
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.panel__link {
  color: unset;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 51px;
  min-width: 51px;
}
.panel__link::before {
  margin: auto;
}
.panel .link-0::before {
  content: url("../img/Favoritos.svg");
}
.panel .link-1::before {
  content: url("../img/Sacola.png");
}
.panel .link-2::before {
  content: url("../img/Usuario.png");
}
@media screen and (min-width: 1024px) {
  .panel .link-0 {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;
}
.footer :nth-child(n+2) {
  display: none;
}
@media screen and (min-width: 600px) {
  .footer {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: 300;
  }
  .footer :nth-child(n) {
    display: initial;
  }
  .footer__title {
    font-size: 2rem;
    font-weight: 400;
  }
  .footer li h4 {
    line-height: 300%;
    text-transform: uppercase;
  }
  .footer .footer__ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.6666666667);
    padding: 0 0.5rem;
  }
  .footer .footer__ul .item::before {
    display: inline-block;
    height: 1rem;
  }
  .footer .caelum::before {
    content: url("../img/Caelum.png");
  }
  .footer .casa-do-codigo::before {
    content: url("../img/CasaDoCodigo.png");
  }
  .footer .alura::before {
    content: url("../img/Alura.png");
  }
  .footer .alura-empresas::before {
    content: url("../img/AluraEmpresas.png");
  }
  .footer .alura-latam::before {
    content: url("../img/AluraLatam.png");
  }
  .footer .alura-start::before {
    content: url("../img/AluraStart.png");
  }
  .footer .music-dot::before {
    content: url("../img/MusicDot.png");
  }
  .footer .alura-lingua::before {
    content: url("../img/AluraLingua.png");
  }
  .footer .pm3::before {
    content: url("../img/PM3.png");
  }
  .footer .hipster-tech::before {
    content: url("../img/HipstersTech.png");
  }
  .footer .scuba-dev::before {
    content: url("../img/Scuba.png");
  }
  .footer .layers-tech::before {
    content: url("../img/Layers.png");
  }
  .footer .like-boss::before {
    content: url("../img/LikeABoss.png");
  }
  .footer .carreira-fronteira::before {
    content: url("../img/CarreiraSemFronteira.png");
  }
  .footer .hipster-jobs::before {
    content: url("../img/HipstersJobs.png");
  }
  .footer .guj::before {
    content: url("../img/GUJ.png");
  }
}

.banner {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0.5rem;
}
.banner .title {
  font-weight: 700;
}
.banner .sub-title {
  color: #ffffff;
}
.banner .inp {
  background: url("../img/Pesquisa.svg") no-repeat left;
  background-position: 1rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  letter-spacing: 0.06ex;
  display: flex;
  align-items: flex-start;
  margin: auto;
  padding: 0 2.5rem;
  min-height: 46px;
  width: 80%;
}
.banner .inp::before {
  content: url("../img/Pesquisa.svg");
}
.banner .inp::before:hover {
  content: url("../img/Pesquisa2.svg");
}
.banner .inp:hover {
  background-color: rgba(255, 255, 255, 0.1333333333);
}
@media screen and (max-width: 1024px) {
  .banner .inp {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .banner .inp {
    width: 80%;
    padding: 0;
    padding-left: 2.5rem;
  }
}

.carroussel__artc {
  background-color: #ebecee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 1rem;
}
.carroussel__artc .title {
  background-color: #ffffff;
  color: #eb9b00;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0 0.5rem 0;
  width: 100%;
}
.carroussel__artc .carroussel__sect {
  min-width: 40%;
  max-width: 60%;
}
.carroussel__artc .carroussel__sect .swiper .swiper-pagination {
  position: initial;
  margin: 1rem;
}
.carroussel__artc .carroussel__sect .swiper-wrapper .swiper-slide {
  margin: 0.2rem 0;
}
.carroussel__artc .carroussel__sect .swiper-wrapper .swiper-slide img {
  width: 100%;
  max-width: 180px;
  height: 100%;
  max-height: 254px;
}
.carroussel__artc .carroussel__sect .swiper-button-prev, .carroussel__artc .carroussel__sect .swiper-button-next {
  display: none;
}

.suggested-card__sect {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 2rem 1rem;
  min-width: 300px;
  max-width: 400px;
}
.suggested-card__sect .card__text {
  width: 40%;
}
.suggested-card__sect .card__text .stars__img {
  display: none;
}
.suggested-card__sect .card__fig {
  width: 40%;
}
.suggested-card__sect .card__icons {
  width: 40%;
  margin-right: auto;
}
.suggested-card__sect .card__btn {
  background-color: #eb9b00;
  color: #ebecee;
  border: none;
  font-weight: 600;
  padding: 1rem 0.5rem;
  width: 40%;
  margin: 0 5%;
}

.author-card__sect .card__text .stars__img {
  display: block;
}

.recent-topic {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  color: #ffffff;
  text-align: center;
  padding: 2rem 30%;
}
.recent-topic__title {
  font-size: 1.5rem;
  font-weight: 300;
}
.recent-topic__topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}
.recent-topic__topics .topic {
  background-color: #eb9b00;
  font-weight: 700;
  padding: 1rem 1rem;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .recent-topic {
    padding: 1rem 10%;
  }
}
@media screen and (max-width: 428px) {
  .recent-topic {
    padding: 0.5rem;
  }
  .recent-topic__title {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .recent-topic__topics {
    padding: 0.5rem 0;
  }
}

.subscribe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #002f52;
  text-align: left;
  margin: 0 auto;
  padding: 3rem 25%;
}
.subscribe__texts {
  max-width: 350px;
}
.subscribe__title {
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 1rem;
}
.subscribe__inp {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  background: url("../img/Email.svg") no-repeat left;
  background-position: 1rem;
  background-color: transparent;
  color: #002f52;
  opacity: 1;
  font-weight: 700;
  border: 1px solid #002f52;
  border-radius: 1rem;
  padding: 0.25rem 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
}
.subscribe__inp:-ms-input-placeholder {
  color: #002f52;
  font-family: "Poppins", sans-serif;
  opacity: 1;
}
.subscribe__inp::placeholder, .subscribe__inp:-ms-input-placeholder, .subscribe__inp::-ms-input-placeholder {
  color: #002f52;
  font-family: "Poppins", sans-serif;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .subscribe {
    padding: 1rem 10%;
  }
  .subscribe__texts {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .subscribe__title {
    margin: 0.5rem 0;
  }
  .subscribe__inp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 428px) {
  .subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}

hr {
  margin: 0;
}/*# sourceMappingURL=style.css.map */