.header__sect {
  background-color: $color-white-pure;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;

  .logo__link span,
  .menu span,
  .panel span {
    display: none;
  }

  .logo__link {
    margin-left: 1rem;
    margin-right: auto;
  }

  .menu__nav {
    order: -1;

    padding-left: 0;

    .menu__ul {
      .menu__li {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__sect {
    padding: 1rem 4rem;

    .logo__link span,
    .menu span,
    .sub-menu__ul {
      display: unset;

      .hidden {
        display: none;
      }
    }

    .logo__link {
      font-size: 1.5rem;
      text-decoration: none;

      display: flex;
      align-items: center;
      gap: 0.25rem;

      margin-right: unset;
      margin: 0 1rem;

      span {
        display: flex;
        align-items: flex-end;

        strong {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }

      &:visited {
        color: unset;
      }
    }

    .menu__nav {
      order: unset;

      margin-right: auto;

      .menu__ul {
        .menu__li {
          display: unset;
        }
      }
    }

    .hidden {
      display: none;
    }

    .sub-menu__ul {
      list-style-type: none;

      padding-left: 0;

      &:hover,
      &:active,
      &:focus {
        display: unset;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__sect {
    .panel {
      a span {
        display: unset;
      }
    }
  }
}

@import "./menu";
@import "./sub-menu";
@import "./panel";
