@import "../../variables";
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;

  &__nav {
    height: 48px;
    width: 48px;
  }

  &::before {
    content: url("../img/Menu.svg");

    .menu__nav:active &,
    .menu__nav:hover &,
    .menu__nav:focus & {
      background-image: linear-gradient(
        to right,
        $color-blue-dark,
        $color-blue-medium
      );
      content: url("../img/MenuAberto.svg");

      margin: auto;
      padding: .5rem;
    }

    margin: auto;
    padding: .5rem;
  }

  &__li {
    list-style-type: none;
    padding: 1rem 1rem;

    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(
        to right,
        $color-blue-dark,
        $color-blue-medium
      );
      color: $color-white-pure;
    }
  }

  .categories span {
    pointer-events: none;
  }

  @media screen and (min-width: 1024px) {
    & {
      order: unset;

      &::before {
        display: none;
      }
    }
  }
}
