@import "../../variables";
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-left: 0;

  &::before {
    content: url("../img/Menu.svg");
  }

  &__li {
    list-style-type: none;
    padding: 1rem 1rem;

    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(
        to right,
        $color-blue-dark,
        $color-blue-medium
      );
      color: $color-white-pure;
    }
  }

  .categories span {
    pointer-events: none;
  }

  @media screen and (min-width: 1024px) {
    & {
      order: unset;

      &::before {
        display: none;
      }
    }
  }
}
