.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  &__link {
    color: unset;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    height: 51px;
    min-width: 51px;

    &::before {
      margin: auto;
    }
  }

  .link-0::before {
    content: url("../img/Favoritos.svg");
  }

  .link-1::before {
    content: url("../img/Sacola.png");
  }

  .link-2::before {
    content: url("../img/Usuario.png");
  }

  @media screen and (min-width: 1024px) {
    & .link-0 {
      display: none;
    }
  }
}
