.menu__nav {
  position: relative;
  .sub-menu {
    background-color: $color-white-pure;
    list-style-type: none;

    padding-left: 0;

    position: absolute;
    top: 100%;

    .sub-title {
      padding: 0.5rem;
    }

    .sub-item {
      color: $color-gradient-blue;

      text-transform: uppercase;

      padding: 1rem;

      &:hover {
        background: $color-gradient-blue;
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $color-white-pure;
      }
    }
  }
}
