@import "../../variables";
.banner {
  background: $color-gradient-blue;
  color: $color-white-pure;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem 0.5rem;

  .title {
    font-weight: 700;
  }

  .sub-title {
    color: $color-white-pure;
  }

  .inp {
    background: url("../img/Pesquisa.svg") no-repeat left;
    background-position: calc(50% - 110px);
    border: 1px solid $color-white-pure;
    border-radius: 2rem;
    color: $color-white-pure;
    text-align: center;
    letter-spacing: 0.06ex;

    display: flex;
    align-items: flex-start;

    margin: auto;
    padding: 0 2.5rem;
    min-height: 46px;
    width: 50%;
    min-width: 300px;
    max-width: 400px;

    &::before {
      content: url("../img/Pesquisa.svg");

      &:hover {
        content: url("../img/Pesquisa2.svg");
      }
    }

    &:hover {
      background-color: #fff2;
    }
  }

  @media screen and (max-width: 480px) {
    .inp {
      padding: 0;
      padding-left: 2.5rem;
    }
  }
}
