@import "../../variables";

.recent-topic {
  background: $color-gradient-blue;
  color: $color-white-pure;
  text-align: center;

  padding: 2rem 30%;

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__topics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0 auto;
    padding: 1rem 0.5rem;

    .topic {
      background-color: $color-yellow-dark;
      font-weight: 700;

      padding: 1rem 1rem;

      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 1rem 10%;
  }

  @media screen and (max-width: 428px) {
    padding: 0.5rem;

    &__title {
      font-size: 1rem;

      margin: 1rem 0;
    }

    &__topics {
      padding: 0.5rem 0;
    }
  }
}
